.TipCalculator {
  display: flex;
  flex-direction: row;
  padding-top: 300px;
  height: 500px;
  overflow: hidden;
}

.display-totals { 
  position: relative;
  left: 530px;
  font-size: 25px;
  top: -20px;
} 

input {
  padding-left: 20px;
  margin: 20px;
  font-size: 30px;
  position: relative;
  left: 450px;
}

label {
  position: relative;
  left: 450px;
  font-size: 40px;
  color: black;
}

