.TipCalculator {
  display: flex;
  flex-direction: row;
  padding-top: 300px;
  position: relative;
  left: 360px;
}

.display-totals { 
  position: relative;
  left: 200px;
  font-size: 25px;
  top: -20px;
  color: rgb(34, 31, 216);
} 

input {
  padding-left: 20px;
  margin: 20px;
  font-size: 30px;
}

label {
  font-size: 40px;
  color: rgb(163, 184, 29);
}

